
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.tdActions {
    display: flex;
}
.tdActions .btn {
    margin-right: 1rem;
}
.pagination {
    li.active span.page-link {
        background-color: #16a2b8;
        border-color: #16a2b8;
    }
    a.page-link {
        color: #16a2b8;
    }
}
.table thead th {
    border-bottom: 0;
}
.detailsEditButtonRow {
    display: flex;
    justify-content: space-between;

    .detailsButtonsContainer {
        display: flex;

        .btn-dark {
            height: 2.3rem;
        }
    }
}
